<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про нас</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/activePage.js"></script>
</head>
<body>
<header th:insert="sections/header::header"></header>
<main>
    <h3>Про нас</h3>
    <div class="text">
        <p>Ми - команда ентузіастів спорту, яка об'єдналася з однією метою: забезпечити вас найкращим спортивним одягом та аксесуарами. Наш інтернет-магазин пропонує ретельно відібрану колекцію товарів, що відповідають вашим потребам та бажанням.</p>
        <p>У нашому асортименті знайдуться стильні кросівки від SPORT, зручні кеди від Converse та модні футболки від LikeMe. Ми завжди намагаємося слідувати тенденціям та обирати лише найкраще для вас.</p>
        <p>Завдяки нашій пристрасті до спорту та бажанню допомогти кожному клієнту, ми створили місце, де ви завжди знайдете те, що шукаєте. Дякуємо, що обрали нас!</p>
        <p>Разом до нових вершин!</p>
    </div>
</main>
<footer th:insert="sections/footer::footer"></footer>
</body>
</html>