<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Додавання товару</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<main>
    <h3>Додавання товару</h3>
    <form class="adminPanelAddForm" th:action="@{/addProduct}" method="post">
        <label for="name"><span>Назва:</span>
            <input type="text" id="name" name="name" required>
        </label>
        <label for="price"><span>Ціна:</span>
            <input type="number" id="price" name="price" required>
        </label>
        <label for="size"><span>Розмір:</span>
            <input type="text" id="size" name="size" required>
        </label>
        <label for="color"><span>Колір:</span>
            <input type="text" id="color" name="color" required>
        </label>
        <label for="description"><span>Опис:</span>
            <textarea id="description" name="description" required></textarea>
        </label>
        <label for="image"><span>Зображення:</span>
            <input type="text" id="image" name="image" required>
        </label>
        <label for="brand"><span>Бренд:</span>
            <select id="brand" name="brandId" required>
                <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
            </select>
        </label>
        <label for="category"><span>Категорія:</span>
            <select id="category" name="categoryId" required>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </label>
        <button type="submit" class="blueButton">Додати</button>
    </form>
</main>
</body>
</html>