<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Адміністративна панель</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<main>
    <h3>Адміністративна панель</h3>
    <div class="adminPanelButtons">
        <a class="greyButton" href="/adminPanelProducts">Товари</a>
        <a class="greyButton" href="/adminPanelCategories">Категорії</a>
        <a class="greyButton" href="/adminPanelUsers">Користувачі</a>
    </div>
</main>
</body>
</html>