<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Кошик</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/activePage.js"></script>
</head>
<body>
<header th:insert="sections/header::header"></header>
<main>
    <h3>Кошик</h3>
    <div class="cartProducts">
        <div th:if="${#lists.isEmpty(session.cart)}">
            <p>Немає товарів для відображення.</p>
        </div>
        <div class="cartProduct" th:each="element : ${session.cart}">
            <h4 th:text="${element.getProduct().getName()}"></h4>
            <p th:text="'Ціна: ' + ${element.getProduct().getPrice()} + ' ₴'"></p>
            <p th:text="'Кількість: ' + ${element.getQuantity()} + ' шт.'"></p>
            <div class="buttons">
                <form th:action="@{'/addProduct/' + ${element.getProduct().getId()}}" method="post">
                    <input class="darkGreenButton" type="submit" value="+">
                </form>
                <form th:action="@{'/removeProduct/' + ${element.getProduct().getId()}}" method="post">
                    <input class="darkGreenButton" type="submit" value="-">
                </form>
            </div>
        </div>
    </div>
    <div class="cartOrder" th:unless="${#lists.isEmpty(session.cart)}">
        <p th:text="${totalCost} + ' ₴'"></p>
        <form th:if="${username != null}" th:action="@{/confirmUserOrder}" method="post">
            <button type="submit" class="confirmButton">Підтвердити замовлення</button>
        </form>
        <a th:if="${username == null}"th:href="@{/checkout}" class="confirmButtonLink">
            <button type="button" class="confirmButton">Оформити замовлення</button>
        </a>
    </div>
</main>
<footer th:insert="sections/footer::footer"></footer>
<script>
    if (window.location.search.length > 0) {
        const url = new URL(window.location);
        url.search = '';
        window.history.replaceState({}, '', url);
    }
</script>
</body>
</html>