<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакти</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/activePage.js"></script>
</head>
<body>
<header th:insert="sections/header::header"></header>
<main>
    <h3>Контакти</h3>
    <div class="contacts">
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2550.996483198904!2d28.656091976545703!3d50.2546499715555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c6493ebf252ed%3A0xcada781000d71138!2z0JrQuNC10LLRgdC60LDRjyDRg9C7LiwgNzcsINCW0LjRgtC-0LzQuNGALCDQltC40YLQvtC80LjRgNGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAxMDAwMA!5e0!3m2!1sru!2sua!4v1706741112659!5m2!1sru!2sua" width="600" height="450" style="border:0"></iframe>
        </div>
        <div class="blocks">
            <div>
                <p>Телефон горячої лінії</p>
                <p>0 800 505 050</p>
                <p>Пн.-Нд.: с 09:00 до 18:00</p>
            </div>
            <div>
                <p>Адреса магазину:</p>
                <p>Україна, м. Житомир, 10001</p>
                <p>вул. Київська 77,</p>
                <p>Магазин спортивного одягу "SPORTS SHOP"</p>
            </div>
            <div>
                <p>Графік роботи:</p>
                <p>Пн.-Пт.: 9:00 - 18:00</p>
                <p>Сб.: вихідний</p>
                <p>Нд.: вихідний</p>
            </div>
        </div>
    </div>
</main>
<footer th:insert="sections/footer::footer"></footer>
</body>
</html>