<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<main>
    <h3>Реєстрація</h3>
    <form class="confirmForm" th:action="@{/register}" method="post">
        <label for="username"><span>Логін:</span>
            <input type="text" id="username" name="username" required>
        </label>
        <label for="password"><span>Пароль:</span>
            <input type="password" id="password" name="password" required>
        </label>
        <label for="fullName"><span>ПІБ:</span>
            <input type="text" id="fullName" name="fullName" required>
        </label>
        <label for="address"><span>Адреса:</span>
            <input type="text" id="address" name="address" required>
        </label>
        <label for="phone"><span>Телефон:</span>
            <input type="text" id="phone" name="phone" required>
        </label>
        <label for="email"><span>Email:</span>
            <input type="email" id="email" name="email" required>
        </label>
        <button type="submit" class="confirmButton">Зареєструватися</button>
    </form>
    <div th:if="${successMessage}">
        <p class="successMessage" th:text="${successMessage}"></p>
        <script>
            setTimeout(function() {
                window.location.href = "/";
            }, 5000);
        </script>
    </div>
    <div th:if="${errorMessage}">
        <p class="errorMessage" th:text="${errorMessage}"></p>
    </div>
</main>
</body>
</html>