<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Оновлення категорії</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<main>
    <h3>Оновлення категорії</h3>
    <form class="adminPanelAddForm" th:action="@{/updateCategory}" method="post">
        <input type="hidden" name="id" th:value="${category.id}">
        <label for="name"><span>Назва:</span>
            <input type="text" id="name" name="name" th:value="${category.name}" required>
        </label>
        <button type="submit" class="blueButton">Оновити</button>
    </form>
</main>
</body>
</html>