<div class="headerMenu" th:fragment="header">
    <a href="/"><div>SPORTS SHOP</div></a>
    <a href="/products"><span>Товари</span></a>
    <a href="/about"><span>Про нас</span></a>
    <a href="/contacts"><span>Контакти</span></a>
    <a href="/cart"><span th:text="'Кошик (' + ${totalQuantity} + ')'"></span></a>
    <a th:if="${username != null}" href="/cabinet"><span th:text="${username}"></span></a>
    <a th:if="${username != null}" href="/logout"><span>Вийти</span></a>
    <a th:if="${username == null}" href="/login"><span>Увійти</span></a>
    <a th:if="${username == null}" href="/registration"><span>Реєстрація</span></a>
</div>


